.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
  &:nth-of-type(2){
    margin-left: 1rem;
  }

}
button{
  margin-bottom: 15px;
  margin-left: 40px;
}
.mat-mdc-form-field{
  width: 15em;
}
