<form class="example-form" [formGroup]="form"  >
  <mat-form-field>
    <mat-label>Select Currency Code</mat-label>
    <mat-select required formControlName="currency">
      <mat-option>--</mat-option>
      @for (currencyCode of currenciesCodes; track currencyCode  ) {
      <mat-option [value]="currencyCode.code"> {{currencyCode.code}} - {{currencyCode.currency}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>No. of days</mat-label>
    <input matInput required formControlName="numberOfDays" placeholder="1,2,3,4,5" >
  </mat-form-field>
</form>
